packrat/lib*/
.Rproj.user
packrat/src/
.Rhistory
.RData
# ignore directories mounted into rstudio docker
raw_data/
workspace/
test_knitr_spin.R

local_docker_setup.sh
docker/TMP_RSTUDIO_INFO.txt

*~

